In [1]:
import pandas as pd
import numpy as np

from openpyxl import Workbook, load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows

In [2]:
nine = pd.read_excel('scores091011.xlsx', sheet_name='Sheet1')
twelve = pd.read_excel('scores12_18.xlsx', sheet_name='Sheet1')

nine=nine.iloc[1:]
nine.set_index('Unnamed: 0',inplace=True)
names9 = nine.columns.values
names9 = pd.Series(names9)
nine.columns = names9.str.split('.').str[0]



twelve = twelve.iloc[1:]
twelve.set_index('Unnamed: 0',inplace=True)
df = twelve['school_name']
twelve = twelve.drop('school_name',axis=1)
names12 = twelve.columns.values
names12 = pd.Series(names12)
twelve.columns = names12.str.split('.').str[0]

In [3]:
pd.concat([nine,twelve],axis=1,sort=False)

,school_name,sch_type,blue1,blue2,blue3,blue4,blue5,orange1,orange2,orange3,...,yellow42,yellow43,yellow44,yellow54,yellow46,yellow34,yellow35,yellow36,yellow47,yellow53
survey_question,NaN,NaN,Q3.How much do you agree/disagree? e.My school...,Q3.How much do you agree/disagree? f.Someone a...,Q3.How much do you agree/disagree? g.My teache...,Q7.How often have your teachers asked you to: ...,Q7.How often have your teachers asked you to: ...,Q3.How much do you agree/disagree? d.Students ...,Q3.How much do you agree/disagree? i.My high p...,Q5.How AVAILABLE are teachers and other adults...,...,3b. My teachers notice if I have trouble learn...,3c. My teachers give me specific suggestions a...,3d. My teachers explain things a different way...,3e. My teachers support me when I am upset.,4a. I’m learning a lot in my classes at this s...,4b. There is at least one adult in the school ...,4e. My teachers treat me with respect.,4f. When my teachers tell me not to do somethi...,4h. Discipline is applied fairly in my school.,10d. For High School: Adults at this school (i...
match_question,NaN,NaN,My school helps me to develop challenging acad...,Someone at my school helps me understand what ...,My teachers expect me to continue my education...,"Approximately how often, during this school ye...","Approximately how often, during this school ye...",Students who get good grades in my school are ...,My high school provides helpful counseling on ...,"On a scale of 1 to 4, how AVAILABLE are teache...",...,My teachers notice if I have trouble learning ...,My teachers give me specific suggestions about...,My teachers explain things a different way if ...,My teachers support me when I am upset.,I’m learning a lot in my classes at this schoo...,There is at least one adult in the school that...,My teachers treat me with respect.,"When my teachers tell me not to do something, ...",Discipline is applied fairly in my school.,"Adults at this school (including teachers, adm..."
year,NaN,NaN,2009,2009,2009,2009,2009,2009,2009,2009,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
color,NaN,NaN,blue,blue,blue,blue,blue,orange,orange,orange,...,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow
01M015,P.S. 015 Roberto Clemente,Elementary School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75X469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
84K876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84K892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.534653,0.55,0.61,0.2,1.05,1.38,1.09,0.722772,0.535354,1.34
84Q373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.19,0.292929,0.405941,0.1,0.41,1.08,0.9,0.52,0.0606061,0.525253
84X585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.86,1.09,1.05,0.646465,1.29,1.35,1.4,1.11111,0.56,NaN

In [4]:
df

Unnamed: 0
survey_question                                                  NaN
match_question                                                   NaN
year                                                             NaN
color                                                            NaN
01M015                                     P.S. 015 Roberto Clemente
                                         ...
75X469              P469X - THE BRONX SCHOOL FOR CONTINUOUS LEARNERS
84K876                      ACHIEVEMENT FIRST VOYAGER CHARTER SCHOOL
84K892                             BROOKLYN EMERGING LEADERS ACADEMY
84Q373             NEW VISIONS CHARTER HIGH SCHOOL FOR THE HUMANI...
84X585                                    LEGACY COLLEGE PREPARATORY
Name: school_name, Length: 2151, dtype: object

In [5]:
#get mean
result = pd.DataFrame()
result = pd.concat([nine,twelve],axis=1,sort=False)
for j in range(4,len(result)):
    if pd.isnull(result.iloc[j,0]):
        idx = result.index[j]
        result.iloc[j,0] = df.loc[idx]
result['sch_mean_allyrs'] = 'NaN'
result = pd.concat([result[['sch_mean_allyrs']], result.drop('sch_mean_allyrs', axis=1)], axis=1)
result = result.reset_index()

for i in range(4,len(result)):
    formean = result.iloc[i,4:]
    result.loc[i,'sch_mean_allyrs'] = formean.mean(skipna = True)

In [6]:
result

,index,sch_mean_allyrs,school_name,sch_type,blue1,blue2,blue3,blue4,blue5,orange1,...,yellow42,yellow43,yellow44,yellow54,yellow46,yellow34,yellow35,yellow36,yellow47,yellow53
0,survey_question,NaN,NaN,NaN,Q3.How much do you agree/disagree? e.My school...,Q3.How much do you agree/disagree? f.Someone a...,Q3.How much do you agree/disagree? g.My teache...,Q7.How often have your teachers asked you to: ...,Q7.How often have your teachers asked you to: ...,Q3.How much do you agree/disagree? d.Students ...,...,3b. My teachers notice if I have trouble learn...,3c. My teachers give me specific suggestions a...,3d. My teachers explain things a different way...,3e. My teachers support me when I am upset.,4a. I’m learning a lot in my classes at this s...,4b. There is at least one adult in the school ...,4e. My teachers treat me with respect.,4f. When my teachers tell me not to do somethi...,4h. Discipline is applied fairly in my school.,10d. For High School: Adults at this school (i...
1,match_question,NaN,NaN,NaN,My school helps me to develop challenging acad...,Someone at my school helps me understand what ...,My teachers expect me to continue my education...,"Approximately how often, during this school ye...","Approximately how often, during this school ye...",Students who get good grades in my school are ...,...,My teachers notice if I have trouble learning ...,My teachers give me specific suggestions about...,My teachers explain things a different way if ...,My teachers support me when I am upset.,I’m learning a lot in my classes at this schoo...,There is at least one adult in the school that...,My teachers treat me with respect.,"When my teachers tell me not to do something, ...",Discipline is applied fairly in my school.,"Adults at this school (including teachers, adm..."
2,year,NaN,NaN,NaN,2009,2009,2009,2009,2009,2009,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
3,color,NaN,NaN,NaN,blue,blue,blue,blue,blue,orange,...,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow
4,01M015,NaN,P.S. 015 Roberto Clemente,Elementary School,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2215,75X469,2,P469X - THE BRONX SCHOOL FOR CONTINUOUS LEARNERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
2216,84K876,NaN,ACHIEVEMENT FIRST VOYAGER CHARTER SCHOOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2217,84K892,0.743198,BROOKLYN EMERGING LEADERS ACADEMY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.534653,0.55,0.61,0.2,1.05,1.38,1.09,0.722772,0.535354,1.34
2218,84Q373,0.429343,NEW VISIONS CHARTER HIGH SCHOOL FOR THE HUMANI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.19,0.292929,0.405941,0.1,0.41,1.08,0.9,0.52,0.0606061,0.525253
2219,84X585,0.896481,LEGACY COLLEGE PREPARATORY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.86,1.09,1.05,0.646465,1.29,1.35,1.4,1.11111,0.56,NaN

In [7]:
result1 = result
sch_meanyr = ['sch_mean2009','sch_mean2010','sch_mean2011','sch_mean2012','sch_mean2013','sch_mean2014','sch_mean2015','sch_mean2016','sch_mean2017','sch_mean2018']
for i in range(0, len(sch_meanyr)):
    idx = len(sch_meanyr)-1-i
    result1[sch_meanyr[idx]]='NaN'
    result1 = pd.concat([result1[[sch_meanyr[idx]]], result1.drop(sch_meanyr[idx], axis=1)], axis=1)
    result1 = result1.reset_index(drop = True)

    

df = result1.T    
yr = [2009,2010,2011,2012,2013,2014,2015,2016,2017,2018]
for i in range(4,len(result1)):
    for j in range(0,len(sch_meanyr)):
        s = result1.iloc[2]     
        a = list(s.index.values[(s == yr[j])])
        result2 = df[df.iloc[:, 2] == yr[j]].T 
        formean = result2.iloc[i]
        result1.loc[i,sch_meanyr[j]] = formean.mean(skipna = True)
        

result1

,sch_mean2009,sch_mean2010,sch_mean2011,sch_mean2012,sch_mean2013,sch_mean2014,sch_mean2015,sch_mean2016,sch_mean2017,sch_mean2018,...,yellow42,yellow43,yellow44,yellow54,yellow46,yellow34,yellow35,yellow36,yellow47,yellow53
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3b. My teachers notice if I have trouble learn...,3c. My teachers give me specific suggestions a...,3d. My teachers explain things a different way...,3e. My teachers support me when I am upset.,4a. I’m learning a lot in my classes at this s...,4b. There is at least one adult in the school ...,4e. My teachers treat me with respect.,4f. When my teachers tell me not to do somethi...,4h. Discipline is applied fairly in my school.,10d. For High School: Adults at this school (i...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,My teachers notice if I have trouble learning ...,My teachers give me specific suggestions about...,My teachers explain things a different way if ...,My teachers support me when I am upset.,I’m learning a lot in my classes at this schoo...,There is at least one adult in the school that...,My teachers treat me with respect.,"When my teachers tell me not to do something, ...",Discipline is applied fairly in my school.,"Adults at this school (including teachers, adm..."
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
2216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.743198,...,0.534653,0.55,0.61,0.2,1.05,1.38,1.09,0.722772,0.535354,1.34
2218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.429343,...,0.19,0.292929,0.405941,0.1,0.41,1.08,0.9,0.52,0.0606061,0.525253
2219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.896481,...,0.86,1.09,1.05,0.646465,1.29,1.35,1.4,1.11111,0.56,NaN

In [8]:
result1 = pd.concat([result1[['sch_mean_allyrs']], result1.drop('sch_mean_allyrs', axis=1)], axis=1)
result1 = pd.concat([result1[['sch_type']], result1.drop('sch_type', axis=1)], axis=1)
result1 = pd.concat([result1[['school_name']], result1.drop('school_name', axis=1)], axis=1)
result1 = pd.concat([result1[['index']], result1.drop('index', axis=1)], axis=1)
result1

,index,school_name,sch_type,sch_mean_allyrs,sch_mean2009,sch_mean2010,sch_mean2011,sch_mean2012,sch_mean2013,sch_mean2014,...,yellow42,yellow43,yellow44,yellow54,yellow46,yellow34,yellow35,yellow36,yellow47,yellow53
0,survey_question,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3b. My teachers notice if I have trouble learn...,3c. My teachers give me specific suggestions a...,3d. My teachers explain things a different way...,3e. My teachers support me when I am upset.,4a. I’m learning a lot in my classes at this s...,4b. There is at least one adult in the school ...,4e. My teachers treat me with respect.,4f. When my teachers tell me not to do somethi...,4h. Discipline is applied fairly in my school.,10d. For High School: Adults at this school (i...
1,match_question,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,My teachers notice if I have trouble learning ...,My teachers give me specific suggestions about...,My teachers explain things a different way if ...,My teachers support me when I am upset.,I’m learning a lot in my classes at this schoo...,There is at least one adult in the school that...,My teachers treat me with respect.,"When my teachers tell me not to do something, ...",Discipline is applied fairly in my school.,"Adults at this school (including teachers, adm..."
2,year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
3,color,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow
4,01M015,P.S. 015 Roberto Clemente,Elementary School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2215,75X469,P469X - THE BRONX SCHOOL FOR CONTINUOUS LEARNERS,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
2216,84K876,ACHIEVEMENT FIRST VOYAGER CHARTER SCHOOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2217,84K892,BROOKLYN EMERGING LEADERS ACADEMY,NaN,0.743198,NaN,NaN,NaN,NaN,NaN,NaN,...,0.534653,0.55,0.61,0.2,1.05,1.38,1.09,0.722772,0.535354,1.34
2218,84Q373,NEW VISIONS CHARTER HIGH SCHOOL FOR THE HUMANI...,NaN,0.429343,NaN,NaN,NaN,NaN,NaN,NaN,...,0.19,0.292929,0.405941,0.1,0.41,1.08,0.9,0.52,0.0606061,0.525253
2219,84X585,LEGACY COLLEGE PREPARATORY,NaN,0.896481,NaN,NaN,NaN,NaN,NaN,NaN,...,0.86,1.09,1.05,0.646465,1.29,1.35,1.4,1.11111,0.56,NaN

In [9]:
wb = load_workbook('finalscores.xlsx')
sheet1 = wb.create_sheet('Final(Usethis))',0)
active = wb['Final(Usethis))']
# Write dataframe to active worksheet
for x in dataframe_to_rows(result1):
    active.append(x)
    
# Save workbook to write
wb.save('finalscores.xlsx')